#jinja2: trim_blocks:True, lstrip_blocks:True
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k8s_kubeconfig_ca }}
    server: https://{{ k8s_api_endpoint }}:{{ k8s_api_port }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: {{ k8s_kubeconfig_user }}
  name: {{ k8s_kubeconfig_user }}@kubernetes
current-context: {{ k8s_kubeconfig_user}}@kubernetes
kind: Config
preferences: {}
users:
- name: {{ k8s_kubeconfig_user }}
  user:
    client-certificate-data: {{ k8s_kubeconfig_crt }}
    client-key-data: {{ k8s_kubeconfig_key }}
